@use "@new-ui/reset";
@use "@new-ui/colors";
@use "@new-ui/typography";
@use "@new-ui/spacings";

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/regular.woff2') format('woff2'),
         url('/assets/fonts/regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/medium.woff2') format('woff2'),
         url('/assets/fonts/medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/bold.woff2') format('woff2'),
         url('/assets/fonts/bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mono';
    src: url('/assets/fonts/mono.woff2') format('woff2'),
         url('/assets/fonts/mono.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

:root {
    font-size: 16px;
    --sans: "copy", var(--system-ui);
    --code: "mono", var(--monospace-code);
    --rhyver: oklch(63.5% 0.1004 76.62);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

@mixin mobile-typography {
    @media screen and (max-width: 600px) {
        font-size: var(--mobile-body);
        line-height: var(--lh-mobile-body);
    }
}

@mixin heading-styles($level) {
    font-size: var(--desktop-heading-#{$level});
    line-height: var(--lh-desktop-heading-#{$level});
    letter-spacing: var(--desktop-tracking-heading-#{$level});

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-#{$level});
        line-height: var(--lh-mobile-heading-#{$level});
        letter-spacing: var(--mobile-tracking-heading-#{$level});
    }
}

body {
    background: var(--background);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--desktop-body-xl);
    line-height: var(--lh-desktop-body-xl);
    font-style: normal;
    min-height: 100vh;
    @include mobile-typography;
}

@supports(-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available;
    }
}

body,
p,
li {
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    @include mobile-typography;
}

%flex-column {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(100%, 42rem);
}

header,
main {
    @extend %flex-column;
}

header {
    height: var(--spacing-16, 6em);
    
    div {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        margin: 0;
        cursor: pointer;
    }
}

main {
    flex: 1;
    margin-bottom: var(--spacing-15, 5rem);

    > * + * {
        margin-top: var(--spacing-08, 1.5rem);
    }
}

section {
    margin-top: var(--spacing-12);

    > h3::before {
        content: '';
        margin-bottom: 1rem;
        width: 4rem;
        height: 2px;
        display: block;
        background: var(--rhyver);
    }
}

%heading-base {
    font-weight: 700;
    font-style: normal;
    margin-bottom: var(--spacing-04);
}

h1, h2, h3 {
    @extend %heading-base;
}

h1 {
    max-inline-size: 32rem;
    margin-bottom: var(--spacing-05);
    @include heading-styles('01');

    @media screen and (max-width: 600px) {
        max-inline-size: 20rem;
    }

    + p,
    + p + p {
        font-size: var(--desktop-body-xl);
        line-height: var(--lh-desktop-body-xl);
        color: var(--text-secondary);
        margin-bottom: var(--spacing-09);

        @media screen and (max-width: 600px) {
            font-size: var(--mobile-body-xl);
            line-height: var(--lh-mobile-body-xl);
        }
    }
}

h2 { @include heading-styles('02'); }
h3 { @include heading-styles('03'); }

h4 {
    font-weight: 500;
    font-size: var(--desktop-heading-04);
    line-height: var(--lh-desktop-heading-04);
    letter-spacing: var(--desktop-tracking-heading-02);

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-04);
        line-height: var(--lh-mobile-heading-03);
    }
}

h5 {
    font-weight: 500;
    font-size: var(--desktop-heading-05);
    line-height: var(--lh-desktop-heading-05);
    letter-spacing: var(--desktop-tracking-heading-03);
    margin-bottom: 0;

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-05);
        line-height: var(--lh-mobile-heading-05);
    }
}

h5 + p,
h5 + ul,
p + hr,
h5 + ul h5 + hr,
hr + p,
p + hr,
ul + hr,
hr + ul,
p + h5 {
    margin-bottom: var(--spacing-03);
}

p, li {
    margin-bottom: var(--spacing-07);
    color: var(--text-primary);
    overflow-wrap: break-word;
    text-justify: inter-word;
}

span, strong {
    font-weight: 500;
    font-family: var(--code);
    color: var(--text-primary);
    text-decoration: underline dotted var(--border);
    text-underline-offset: var(--spacing-02);
}

%list-base {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-02);
}

%list-item {
    position: relative;
    
    &::before {
        font-feature-settings: 'case', 'tnum';
        left: 0;
        position: absolute;
        top: 0;
    }
}

ul {
    @extend %list-base;
    padding: 0;
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: var(--spacing-08);
    
    @include mobile-typography;

    li {
        @extend %list-item;
        padding-left: var(--spacing-08);
        list-style: none;
        margin-bottom: var(--spacing-02);
        
        &::before {
            content: '—';
            opacity: 0.32;
        }
        
        @include mobile-typography;
    }
}

ol {
    @extend %list-base;
    counter-reset: counter;

    li {
        @extend %list-item;
        counter-increment: counter;
        padding-left: var(--spacing-09);

        &::before {
            content: counter(counter) '.';
            text-align: right;
            width: var(--spacing-08);
        }
    }
}

blockquote {
    padding: 0 0 0 12px;
    color: var(--text-primary);
    border-left: 3px solid var(--border);
    margin-bottom: var(--spacing-07);

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
}

%table-cell-base {
    padding: var(--spacing-02) var(--spacing-04);
    text-align: left;
    border-bottom: 1px solid var(--border-muted);
}

table {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border-spacing: 0;
    margin-bottom: var(--spacing-07);
    border: 1px solid var(--border-muted);
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    
    @include mobile-typography;
}

th {
    @extend %table-cell-base;
    color: var(--doc-color-black);
    font-weight: 500;
}

td {
    @extend %table-cell-base;
    
    tr:last-child & {
        border-bottom: none;
    }
    
    &.breakout {
        font-weight: 500;
        padding-top: var(--spacing-06);
    }
}

code {
    padding: 0 var(--spacing-01);
    font-weight: inherit;
    background-color: var(--background-secondary);
    font-size: var(--desktop-code);
    line-height: var(--lh-desktop-code);
    font-family: var(--code);
    margin-bottom: var(--spacing-07);
    color: var(--text-primary);
}

pre {
    word-wrap: normal;
    padding: var(--spacing-07);
    background-color: var(--background-secondary);
    overflow-x: scroll;
    margin-bottom: var(--spacing-12);
    border-radius: var(--spacing-03);

    &:not(:last-child):has(+ p),
    &:not(:last-child):has(+ p + p),
    &:not(:last-of-type) {
        margin-bottom: var(--spacing-06);
    }

    code {
        display: inline;
        max-width: auto;
        padding: 0;
        overflow: visible;
        white-space: pre;
        word-wrap: normal;
        word-break: normal;
        background: transparent;
        border: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.1em;
    color: var(--link);

    &:hover { color: var(--link-hover); }
    &:visited { color: var(--link-visited); }
}

b,
strong {
    font-weight: 500;
    letter-spacing: normal;
}

i,
em {
    font-style: italic;
}

dl {
    font-feature-settings: 'case';
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    margin: var(--spacing-06) var(--spacing-00);

    dt {
        font-weight: 500;
    }

    dd {
        color: var(--text-secondary);
    }
}

figure {
    margin-top: var(--spacing-08);
    margin-left: calc(var(--spacing-04) * -1);
}

@media (max-width: 50rem) {
    header,
    main {
        padding-left: var(--spacing-09, 2em);
        padding-right: var(--spacing-09, 2em);
    }
}
