@use "@new-ui/reset";
@use "@new-ui/colors";
@use "@new-ui/typography";
@use "@new-ui/spacings";

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/regular.woff2') format('woff2'),
         url('/assets/fonts/regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/medium.woff2') format('woff2'),
         url('/assets/fonts/medium.otf') format('otf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'copy';
    src: url('/assets/fonts/bold.woff2') format('woff2'),
         url('/assets/fonts/bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'mono';
    src: url('/assets/fonts/mono.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

:root {
    font-size: 16px;
    --sans: "copy", var(--system-ui);
    --code: "mono", var(--monospace-code);
    --rhyver: oklch(63.5% 0.1004 76.62);
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

@mixin mobile-typography {
    @media screen and (max-width: 600px) {
        font-size: var(--mobile-body);
        line-height: var(--lh-mobile-body);
    }
}

@mixin heading-styles($level) {
    font-size: var(--desktop-heading-#{$level});
    line-height: var(--lh-desktop-heading-#{$level});
    letter-spacing: var(--desktop-tracking-heading-#{$level});

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-#{$level});
        line-height: var(--lh-mobile-heading-#{$level});
        letter-spacing: var(--mobile-tracking-heading-#{$level});
    }
}

body {
    background: var(--background);
    color: var(--text-primary);
    display: flex;
    flex-direction: column;
    font-family: var(--sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--desktop-body-xl);
    line-height: var(--lh-desktop-body-xl);
    font-style: normal;
    min-height: 100vh;
    @include mobile-typography;
}

@supports(-webkit-touch-callout: none) {
    body {
        min-height: -webkit-fill-available;
    }
}

body,
p,
li {
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    @include mobile-typography;
}

%flex-column {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: min(100%, 42rem);
}

header,
main {
    @extend %flex-column;
}

header {
    height: var(--spacing-16, 6em);
    
    div {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: flex-start;
        margin: 0;
        cursor: pointer;
    }
}

main {
    flex: 1;
    margin-bottom: var(--spacing-15, 5rem);

    > * + * {
        margin-top: var(--spacing-08, 1.5rem);
    }
}

section {
    margin-top: var(--spacing-12);

    > h3::before {
        content: '';
        margin-bottom: 1rem;
        width: 4rem;
        height: 2px;
        display: block;
        background: var(--rhyver);
    }
}

%heading-base {
    font-weight: 700;
    font-style: normal;
    margin-bottom: var(--spacing-04);
}

h1, h2, h3 {
    @extend %heading-base;
}

h1 {
    max-inline-size: 32rem;
    margin-bottom: var(--spacing-05);
    @include heading-styles('01');

    @media screen and (max-width: 600px) {
        max-inline-size: 20rem;
    }

    + p,
    + p + p {
        font-size: var(--desktop-body-xl);
        line-height: var(--lh-desktop-body-xl);
        color: var(--text-secondary);
        margin-bottom: var(--spacing-09);

        @media screen and (max-width: 600px) {
            font-size: var(--mobile-body-xl);
            line-height: var(--lh-mobile-body-xl);
        }
    }
}

h2 { @include heading-styles('02'); }
h3 { @include heading-styles('03'); }

h4 {
    font-weight: 500;
    font-size: var(--desktop-heading-04);
    line-height: var(--lh-desktop-heading-04);
    letter-spacing: var(--desktop-tracking-heading-02);

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-04);
        line-height: var(--lh-mobile-heading-03);
    }
}

h5 {
    font-weight: 500;
    font-size: var(--desktop-heading-05);
    line-height: var(--lh-desktop-heading-05);
    letter-spacing: var(--desktop-tracking-heading-03);
    margin-bottom: 0;

    @media screen and (max-width: 600px) {
        font-size: var(--mobile-heading-05);
        line-height: var(--lh-mobile-heading-05);
    }
}

h5 + p,
h5 + ul,
p + hr,
h5 + ul h5 + hr,
hr + p,
p + hr,
ul + hr,
hr + ul,
p + h5 {
    margin-bottom: var(--spacing-03);
}

p, li {
    margin-bottom: var(--spacing-07);
    color: var(--text-primary);
    overflow-wrap: break-word;
    text-justify: inter-word;
}

span, strong {
    font-weight: 500;
    font-family: var(--code);
    color: var(--text-primary);
    text-decoration: underline dotted var(--border);
    text-underline-offset: var(--spacing-02);
}

%list-base {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-00);
}

%list-item {
    position: relative;
    
    &::before {
        font-feature-settings: 'case', 'tnum';
        left: 0;
        position: absolute;
        top: 0;
    }
}

ul {
    @extend %list-base;
    padding: 0;
    margin-top: var(--spacing-02);
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: var(--spacing-08);
    
    @include mobile-typography;

    li {
        @extend %list-item;
        padding-left: var(--spacing-08);
        list-style: none;
        margin-bottom: var(--spacing-02);
        
        &::before {
            content: '—';
            opacity: 0.32;
        }
        
        @include mobile-typography;
    }
}

ol {
    @extend %list-base;
    counter-reset: counter;

    li {
        @extend %list-item;
        counter-increment: counter;
        padding-left: var(--spacing-09);

        &::before {
            content: counter(counter) '.';
            text-align: right;
            width: var(--spacing-08);
        }
    }
}

blockquote {
    padding: 0 0 0 12px;
    color: var(--text-primary);
    border-left: 3px solid var(--border);
    margin-bottom: var(--spacing-07);

    > :first-child { margin-top: 0; }
    > :last-child { margin-bottom: 0; }
}

%table-cell-base {
    padding: var(--spacing-02) var(--spacing-04);
    text-align: left;
    border-bottom: 1px solid var(--border-muted);
}

table {
    width: 100%;
    max-width: 100%;
    border-radius: 3px;
    border-spacing: 0;
    margin-bottom: var(--spacing-07);
    border: 1px solid var(--border-muted);
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    
    @include mobile-typography;
}

th {
    @extend %table-cell-base;
    color: var(--doc-color-black);
    font-weight: 500;
}

td {
    @extend %table-cell-base;
    
    tr:last-child & {
        border-bottom: none;
    }
    
    &.breakout {
        font-weight: 500;
        padding-top: var(--spacing-06);
    }
}

code {
    padding: 0 var(--spacing-01);
    font-weight: inherit;
    background-color: var(--background-secondary);
    font-size: var(--desktop-code);
    line-height: var(--lh-desktop-code);
    font-family: var(--code);
    margin-bottom: var(--spacing-07);
    color: var(--text-primary);
}

pre {
    word-wrap: normal;
    padding: var(--spacing-07);
    background-color: var(--background-secondary);
    overflow-x: scroll;
    margin-bottom: var(--spacing-12);
    border-radius: var(--spacing-03);

    &:not(:last-child):has(+ p),
    &:not(:last-child):has(+ p + p),
    &:not(:last-of-type) {
        margin-bottom: var(--spacing-06);
    }

    code {
        display: inline;
        max-width: auto;
        padding: 0;
        overflow: visible;
        white-space: pre;
        word-wrap: normal;
        word-break: normal;
        background: transparent;
        border: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 0.06em;
    text-underline-offset: 0.1em;
    color: var(--link);

    &:hover { color: var(--link-hover); }
    &:visited { color: var(--link-visited); }
}

b,
strong {
    font-weight: 500;
    letter-spacing: normal;
}

i,
em {
    font-style: italic;
}

dl {
    font-feature-settings: 'case';
    font-size: var(--desktop-body);
    line-height: var(--lh-desktop-body);
    margin: var(--spacing-06) var(--spacing-00);

    dt {
        font-weight: 500;
    }

    dd {
        color: var(--text-secondary);
    }
}

figure {
    margin-top: var(--spacing-08);
    margin-left: calc(var(--spacing-04) * -1);
}

@media (max-width: 50rem) {
    header,
    main {
        padding-left: var(--spacing-09, 2em);
        padding-right: var(--spacing-09, 2em);
    }
}

#particles, #particles:after{
  width:1px;
  height:1px;
  box-shadow:326px 639px var(--accent),305px 1860px var(--accent),653px 1797px var(--accent),1190px 1004px var(--accent),94px 334px var(--accent),1417px 1421px var(--accent),1413px 328px var(--accent),1166px 166px var(--accent),1576px 957px var(--accent),1250px 1642px var(--accent),1191px 832px var(--accent),479px 327px var(--accent),1284px 1726px var(--accent),82px 478px var(--accent),1731px 400px var(--accent),1914px 1842px var(--accent),1326px 1738px var(--accent),76px 884px var(--accent),1496px 163px var(--accent),1378px 1244px var(--accent),1097px 1374px var(--accent),113px 1921px var(--accent),1792px 914px var(--accent),1768px 1165px var(--accent),1169px 1921px var(--accent),243px 1633px var(--accent),98px 1026px var(--accent),807px 1575px var(--accent),360px 1299px var(--accent),855px 1742px var(--accent),731px 398px var(--accent),391px 1780px var(--accent),214px 192px var(--accent),1080px 746px var(--accent),720px 1447px var(--accent),699px 451px var(--accent),32px 1451px var(--accent),1679px 1199px var(--accent),1254px 1669px var(--accent),1566px 14px var(--accent),1648px 798px var(--accent),999px 102px var(--accent),1599px 1604px var(--accent),764px 1296px var(--accent),1537px 1264px var(--accent),390px 1640px var(--accent),388px 1784px var(--accent),44px 279px var(--accent),1871px 788px var(--accent),1398px 489px var(--accent),272px 1347px var(--accent),181px 1236px var(--accent),365px 1530px var(--accent),275px 1131px var(--accent),700px 1459px var(--accent),1815px 434px var(--accent),291px 1142px var(--accent),1376px 600px var(--accent),261px 52px var(--accent),925px 639px var(--accent),1755px 368px var(--accent),68px 801px var(--accent),926px 1551px var(--accent),1261px 269px var(--accent),140px 1838px var(--accent),665px 543px var(--accent),228px 1495px var(--accent),1392px 198px var(--accent),1386px 1379px var(--accent),1134px 977px var(--accent),1771px 985px var(--accent),49px 1808px var(--accent),1832px 854px var(--accent),1006px 696px var(--accent),599px 1513px var(--accent),1117px 1405px var(--accent),320px 1611px var(--accent),1204px 943px var(--accent),411px 1205px var(--accent),1197px 365px var(--accent),724px 45px var(--accent),965px 1299px var(--accent),1900px 934px var(--accent),234px 1440px var(--accent),553px 310px var(--accent),1218px 1288px var(--accent),1493px 561px var(--accent),68px 1353px var(--accent),847px 1621px var(--accent),640px 322px var(--accent),770px 592px var(--accent),1767px 1371px var(--accent),443px 1850px var(--accent),146px 894px var(--accent),923px 496px var(--accent),1265px 667px var(--accent),1770px 1806px var(--accent),439px 1013px var(--accent),68px 990px var(--accent),1757px 193px var(--accent),512px 1687px var(--accent),1084px 484px var(--accent),361px 1386px var(--accent),1561px 157px var(--accent),1655px 284px var(--accent),933px 1531px var(--accent),38px 432px var(--accent),1395px 1461px var(--accent),1294px 2000px var(--accent),852px 1271px var(--accent),334px 547px var(--accent),249px 703px var(--accent),980px 230px var(--accent),1001px 480px var(--accent),1601px 1362px var(--accent),1156px 776px var(--accent),697px 1666px var(--accent),184px 855px var(--accent),966px 119px var(--accent),1849px 1455px var(--accent),993px 1775px var(--accent),54px 1807px var(--accent),1182px 1547px var(--accent),646px 734px var(--accent),1667px 1394px var(--accent),394px 613px var(--accent),1550px 1785px var(--accent),33px 1490px var(--accent),169px 286px var(--accent),779px 140px var(--accent),493px 579px var(--accent),1503px 1608px var(--accent),371px 403px var(--accent),666px 1302px var(--accent),24px 1303px var(--accent),1630px 830px var(--accent),197px 1105px var(--accent),241px 1067px var(--accent),579px 1404px var(--accent),1957px 1965px var(--accent),508px 228px var(--accent),1224px 1736px var(--accent),1625px 392px var(--accent),614px 1869px var(--accent),1244px 101px var(--accent),299px 625px var(--accent),1062px 1821px var(--accent),999px 1169px var(--accent),1167px 854px var(--accent),1866px 15px var(--accent),939px 1804px var(--accent),1358px 1580px var(--accent),669px 1896px var(--accent),695px 516px var(--accent),1812px 1494px var(--accent),1276px 1393px var(--accent),745px 970px var(--accent),1196px 1980px var(--accent),23px 1105px var(--accent),854px 184px var(--accent),1666px 1416px var(--accent),319px 1221px var(--accent),891px 1424px var(--accent),516px 1066px var(--accent),947px 246px var(--accent),1141px 57px var(--accent),804px 1146px var(--accent),1856px 82px var(--accent),615px 782px var(--accent),118px 1456px var(--accent),1151px 654px var(--accent),1030px 19px var(--accent),1841px 787px var(--accent),1495px 1869px var(--accent),821px 1207px var(--accent),1631px 1180px var(--accent),1079px 1933px var(--accent),1531px 1876px var(--accent),83px 1265px var(--accent),527px 1772px var(--accent),925px 801px var(--accent),1103px 46px var(--accent),1561px 1386px var(--accent),1170px 415px var(--accent);
}

#particles2, #particles2:after {
  width:2px;
  height:2px;
  box-shadow:1424px 1464px var(--breakout),204px 1477px var(--breakout),1079px 1242px var(--breakout),1623px 1568px var(--breakout),1084px 1713px var(--breakout),255px 1697px var(--breakout),328px 1090px var(--breakout),1867px 803px var(--breakout),438px 672px var(--breakout),804px 82px var(--breakout),1886px 1631px var(--breakout),170px 706px var(--breakout),1371px 686px var(--breakout),1281px 843px var(--breakout),1801px 1737px var(--breakout),1169px 554px var(--breakout),1680px 637px var(--breakout),156px 710px var(--breakout),1043px 1645px var(--breakout),1428px 1497px var(--breakout),519px 851px var(--breakout),1423px 919px var(--breakout),1829px 1719px var(--breakout),1855px 1901px var(--breakout),109px 1448px var(--breakout),1782px 1330px var(--breakout),156px 574px var(--breakout),1501px 1278px var(--breakout),1658px 936px var(--breakout),703px 1073px var(--breakout),962px 1911px var(--breakout),717px 1002px var(--breakout),461px 782px var(--breakout),288px 402px var(--breakout),463px 690px var(--breakout),981px 59px var(--breakout),1033px 598px var(--breakout),738px 1573px var(--breakout),174px 573px var(--breakout),323px 17px var(--breakout),49px 1222px var(--breakout),848px 253px var(--breakout),6px 1298px var(--breakout),1924px 393px var(--breakout),235px 456px var(--breakout),1395px 1527px var(--breakout),1323px 588px var(--breakout),651px 693px var(--breakout),618px 1794px var(--breakout),1766px 59px var(--breakout),507px 846px var(--breakout),332px 520px var(--breakout),342px 815px var(--breakout),733px 773px var(--breakout),428px 1684px var(--breakout),396px 1119px var(--breakout),1327px 1792px var(--breakout),1770px 1656px var(--breakout),455px 692px var(--breakout),1901px 1577px var(--breakout),45px 565px var(--breakout),137px 1663px var(--breakout),356px 112px var(--breakout),370px 1702px var(--breakout),1110px 506px var(--breakout),440px 1976px var(--breakout),1488px 1373px var(--breakout),860px 242px var(--breakout),1651px 533px var(--breakout),473px 726px var(--breakout),1397px 198px var(--breakout),1507px 1939px var(--breakout),1596px 1893px var(--breakout),1246px 638px var(--breakout),1997px 830px var(--breakout),443px 1369px var(--breakout),749px 45px var(--breakout),1746px 306px var(--breakout),714px 236px var(--breakout),1193px 707px var(--breakout),1100px 25px var(--breakout),1204px 1311px var(--breakout),490px 1638px var(--breakout),705px 1970px var(--breakout),459px 1042px var(--breakout),823px 205px var(--breakout),1927px 1225px var(--breakout),1685px 57px var(--breakout),297px 774px var(--breakout),280px 1231px var(--breakout),348px 1405px var(--breakout),1802px 1799px var(--breakout),1585px 1734px var(--breakout),1487px 20px var(--breakout),61px 1446px var(--breakout),248px 1394px var(--breakout),247px 1280px var(--breakout),1762px 1205px var(--breakout),1863px 1124px var(--breakout),1339px 872px var(--breakout),740px 66px var(--breakout),1394px 1732px var(--breakout),308px 1673px var(--breakout),1360px 1961px var(--breakout),885px 1779px var(--breakout),1879px 229px var(--breakout),930px 677px var(--breakout),1119px 546px var(--breakout),144px 1237px var(--breakout),1363px 1077px var(--breakout),1656px 1207px var(--breakout),968px 660px var(--breakout),205px 1214px var(--breakout),764px 1341px var(--breakout),1575px 1016px var(--breakout),1503px 1917px var(--breakout),1154px 1766px var(--breakout),1102px 1023px var(--breakout),675px 1293px var(--breakout),1069px 227px var(--breakout),1982px 960px var(--breakout),1826px 463px var(--breakout),133px 160px var(--breakout),1938px 1088px var(--breakout),1671px 285px var(--breakout),819px 892px var(--breakout),1095px 1927px var(--breakout),828px 1562px var(--breakout),1847px 1100px var(--breakout),1613px 1724px var(--breakout),492px 1688px var(--breakout),1978px 1058px var(--breakout),52px 1517px var(--breakout),1420px 1837px var(--breakout),1109px 398px var(--breakout),1833px 1740px var(--breakout),14px 9px var(--breakout),1095px 700px var(--breakout),158px 1969px var(--breakout),225px 778px var(--breakout),487px 1080px var(--breakout),1782px 502px var(--breakout),726px 1999px var(--breakout),1857px 1367px var(--breakout),1774px 1479px var(--breakout);
}

#particles:after, #particles2:after { 
  content:" ";
  position:absolute;
  top:0px;
  background:0 0;
  z-index:-8
}

#particles {
  background:0 0;
  -webkit-animation:i 70s linear infinite;
  animation:i 70s linear infinite;
  z-index: -100;
}
#particles2 {
  background:0 0;
  -webkit-animation:i 120s linear infinite;
  animation:i 120s linear infinite;
  z-index: -100;
}

@-webkit-keyframes i{
  0% {
    -webkit-transform:translateY(0);
    transform:translateY(0)
  } to {
    -webkit-transform:translateY(-2000px);
    transform:translateY(-2000px)
  }
}
@keyframes i {
  0% { 
    -webkit-transform:translateY(0);
    transform:translateY(0)
  } to {
    -webkit-transform:translateY(-2000px);
    transform:translateY(-2000px)
  }
}
